@import "fonts"
@import "vars"

section:not(.main-screen)
  font-family: $default-font
  position: relative
  padding-left: 550px

  .content
    height: 100vh
    overflow-y: scroll
    padding-right: 60px
    padding-top: 20px
    display: flex
    flex-direction: column
    -ms-overflow-style: none
    scrollbar-width: none

    &::-webkit-scrollbar
      display: none

    .content-top
      padding-right: 155px
      min-height: 46.8px

    .content-main
      padding-top: 80px

  .section-title
    position: absolute
    bottom: 30px
    left: 60px
    font-size: $header-1-desk
    font-weight: bold
    max-width: 550px
    display: flex
    align-items: center

  @media screen and (max-width: $small-desktop-screen)
    padding-left: 350px

    .section-title
      font-size: $header-1-mob

  @media screen and (max-width: $laptop-screen)
    padding-left: $left-right-margin-laptop

    .section-title
      margin-top: 90px
      font-size: $header-1-desk
      position: relative
      left: 0
      bottom: 0

    .content
      padding-right: $left-right-margin-laptop
      overflow: hidden
      height: unset

      .content-main
        overflow-y: unset
        padding-top: 40px

      .content-top
        padding-top: 0px
        padding-right: 0

section.main-screen
  .instruction
    position: absolute
    bottom: 80px
    left: 518px
    color: $white
    display: inline-block
    transform: rotate(90deg)
    z-index: 11

  @media screen and (max-width: $small-desktop-screen)
    .instruction
      left: 318px

  @media screen and (max-width: $laptop-screen)
    .instruction
      left: -12px

@import "sections/our-products"
@import "sections/our-references"
