@import "fonts"
@import "vars"

// main

.checkbox
  *
    user-select: none

  .m-chckbox--group
    border-width: 1px
    border-radius: 0px

  .m-chckbox--label
    font-size: $label
    color: $gray-dark

// ----

section
  height: calc(var(--vh, 1vh) * 100) !important

section:not(.main-screen)
  background-color: $white
  font-family: $default-font
  position: relative
  padding-left: 530px

  .content
    height: 100vh
    overflow-y: scroll
    padding-right: 60px
    padding-top: 20px
    padding-left: 20px
    display: block

    .content-top
      padding-right: 155px

    .content-main
      margin-bottom: 30px
      padding-top: 80px

    &.without-title
      .content-main
        padding-top: 125px

  .section-title, .content-section-title
    position: absolute
    bottom: 30px
    left: 60px
    font-size: $header-1-desk
    font-weight: bold
    max-width: 550px
    display: flex
    align-items: center

  .content-section-title
    display: none

  @media screen and (max-width: $small-desktop-screen)
    padding-left: 350px

    .section-title
      font-size: $header-1-mob

  @media screen and (max-width: $laptop-screen)
    padding-left: $left-right-margin-laptop

    .section-title
      display: none

    .content-section-title
      display: flex
      margin-top: 90px
      font-size: $header-1-desk
      position: relative
      left: 0
      bottom: 0

    .content
      padding-left: 0
      padding-right: $left-right-margin-laptop

      .content-main
        margin-bottom: 30px
        overflow-y: unset
        padding-top: 40px

      .content-top
        padding-top: 0px
        padding-right: 0

  @media screen and (max-width: $mobile-screen)
    .content-section-title
      font-size: $header-1-mob

section.main-screen
  position: relative


@import "sections/our-products"
@import "sections/our-references"
@import "sections/news"
@import "sections/customer-opinion"
@import "sections/contacts"
