@import "../vars"

.add-page
  .content
    .scroll-content
      padding: 60px

      .title
        font-size: $header-2-desk
        font-weight: bold


      form
        margin-top: 60px
        margin-left: 160px

        .text
          color: $gray-dark
          line-height: 24px
          font-size: $main-text

        .field
          margin-top: 30px

        .confirm
          margin-top: 20px

        .checkbox
          *
            user-select: none

          .m-chckbox--group
            border-width: 1px
            border-radius: 0px
