@import "../vars"

section.contacts
  .section-title
    font-size: $main-text
    color: $gray-dark
    font-weight: normal
    flex-direction: column
    align-items: flex-start

    .info
      margin-top: 20px
      text-decoration: underline
      padding-bottom: 3px
      cursor: pointer
      color: $blue-dark

    .links
      margin-top: 40px

      .link:last-child
        margin-left: 20px

  .content
    .content-main
      .title
        font-size: $header-1-desk
        font-weight: bold
